# **AMAZON SALE** **DATA**

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*
from pyspark.sql.types import*

In [ ]:
spark=SparkSession.builder.appName("Dataframe").getOrCreate()

In [ ]:
spark

# Read .CSV file format

In [ ]:
df=spark.read.csv("/content/AmazonSalesData.csv", header= True, inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Order Priority: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Order ID: integer (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Units Sold: integer (nullable = true)
 |-- Unit Price: double (nullable = true)
 |-- Unit Cost: double (nullable = true)
 |-- Total Revenue: double (nullable = true)
 |-- Total Cost: double (nullable = true)
 |-- Total Profit: double (nullable = true)

In [ ]:
df.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|
|Central America a...|             Grenada|         Cereal|       Online|             C| 8/22/2012|963881480| 9/15/2012|      2804|     205.7|   117.11|     576782.8| 328376.44|   248406.36|
|              Europe|              Russia|Office Supplies|      Offline|             L|  5/2/2014|341417157|  5/8/2014|      1779|    651.21|   524.96|   1158502.59| 933903.84|   224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|       Online|             C| 6/20/2014|514321792|  7/5/2014|      8102|      9.33|     6.92|     75591.66|  56065.84|    19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|      Offline|             L|  2/1/2013|115456712|  2/6/2013|      5062|    651.21|   524.96|   3296425.02|2657347.52|    639077.5|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|    255.28|   159.42|    759202.72| 474115.08|   285087.64|
|  Sub-Saharan Africa|              Angola|      Household|      Offline|             M| 4/23/2011|135425221| 4/27/2011|      4187|    668.27|   502.54|   2798046.49|2104134.98|   693911.51|
|  Sub-Saharan Africa|        Burkina Faso|     Vegetables|       Online|             H| 7/17/2012|871543967| 7/27/2012|      8082|    154.06|    90.93|   1245112.92| 734896.26|   510216.66|
|  Sub-Saharan Africa|Republic of the C...|  Personal Care|      Offline|             M| 7/14/2015|770463311| 8/25/2015|      6070|     81.73|    56.67|     496101.1|  343986.9|    152114.2|
|  Sub-Saharan Africa|             Senegal|         Cereal|       Online|             H| 4/18/2014|616607081| 5/30/2014|      6593|     205.7|   117.11|    1356180.1| 772106.23|   584073.87|
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|    154.06|    90.93|     19103.44|  11275.32|     7828.12|
|  Sub-Saharan Africa|          Cape Verde|        Clothes|      Offline|             H|  8/2/2014|939825713| 8/19/2014|      4168|    109.28|    35.84|    455479.04| 149381.12|   306097.92|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|    109.28|    35.84|    902980.64| 296145.92|   606834.72|
|Central America a...|            Honduras|      Household|      Offline|             H|  2/8/2017|522840487| 2/13/2017|      8974|    668.27|   502.54|   5997054.98|4509793.96|  1487261.02|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901|     81.73|    56.67|    400558.73| 277739.67|   122819.06|
|              Europe|            Bulgaria|        Clothes|       Online|             M| 4/23/2012|972292029|  6/3/2012|      1673|    109.28|    35.84|    182825.44|  59960.32|   122865.12|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952|     437.2|   263.33|    3039414.4|1830670.16|  1208744.24|
|  Sub-Saharan Africa|            Cameroon|      Beverages|      Offline|             C|  4/1/2015|519820964| 4/18/2015|      5430|     47.45|    31.79|     257653.5|  172619.7|     85033.8|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|    668.27|   502.54|    2559474.1| 1924728.2|    634745.9|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|    421.89|   364.69|   2492526.12|2154588.52|    337937.6|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

# Select Col

In [ ]:
df.select(col("Region"), col('country')).show()

+--------------------+--------------------+
|              Region|             country|
+--------------------+--------------------+
|Australia and Oce...|              Tuvalu|
|Central America a...|             Grenada|
|              Europe|              Russia|
|  Sub-Saharan Africa|Sao Tome and Prin...|
|  Sub-Saharan Africa|              Rwanda|
|Australia and Oce...|     Solomon Islands|
|  Sub-Saharan Africa|              Angola|
|  Sub-Saharan Africa|        Burkina Faso|
|  Sub-Saharan Africa|Republic of the C...|
|  Sub-Saharan Africa|             Senegal|
|                Asia|          Kyrgyzstan|
|  Sub-Saharan Africa|          Cape Verde|
|                Asia|          Bangladesh|
|Central America a...|            Honduras|
|                Asia|            Mongolia|
|              Europe|            Bulgaria|
|                Asia|           Sri Lanka|
|  Sub-Saharan Africa|            Cameroon|
|                Asia|        Turkmenistan|
|Australia and Oce...|          East Timor|
+--------------------+--------------------+
only showing top 20 rows

## Region and country with profit

In [ ]:
region_and_country_with_profit = df.groupBy(col('Region')).sum('Total Profit')
region_and_country_with_profit.show()

+--------------------+--------------------+
|              Region|   sum(Total Profit)|
+--------------------+--------------------+
|Middle East and N...|   5761191.859999999|
|Australia and Oce...|          4722160.03|
|              Europe|1.1082938629999999E7|
|  Sub-Saharan Africa|1.2183211400000004E7|
|Central America a...|          2846907.85|
|       North America|          1457942.76|
|                Asia|          6113845.87|
+--------------------+--------------------+

## Region with highest profit

In [ ]:
region_with_highest_profit = region_and_country_with_profit.orderBy("sum(Total Profit)", ascending=False).first()

# Region has the highest profit with total profit

In [ ]:
print(f"{region_with_highest_profit['Region']} Region has the highest profit with a total profit of {region_with_highest_profit['sum(Total Profit)']}")

Sub-Saharan Africa Region has the highest profit with a total profit of 12183211.400000004

## Country with highest profit

In [ ]:
country_with_highest_profit = df.filter(col('Region') == region_with_highest_profit['Region']) \
                                .groupBy(col('Country')).sum('Total Profit') \
                                .orderBy("sum(Total Profit)", ascending=False)
country_with_highest_profit.show()

+------------+-----------------+
|     Country|sum(Total Profit)|
+------------+-----------------+
|    Djibouti|       2425317.87|
|     Myanmar|        1802771.7|
|    Pakistan|       1719922.04|
|      Samoa |       1678540.98|
|    Honduras|       1609947.52|
|     Iceland|       1541705.29|
|  Azerbaijan|       1512926.83|
| Switzerland|       1512729.45|
|      Mexico|       1457942.76|
|      Rwanda|       1417493.49|
|  The Gambia|       1385883.27|
|     Romania|        1375311.7|
|Turkmenistan|        1267258.4|
|   Sri Lanka|       1208744.24|
|        Iran|       1128242.43|
|   Lithuania|       1046233.75|
|      Tuvalu|         951410.5|
|  Mozambique|        889472.91|
|      Brunei|         846885.0|
|      Monaco|        825738.04|
+------------+-----------------+
only showing top 20 rows

## Country under the region has the highest profit

In [ ]:
print(f"{country_with_highest_profit['Country']} country, under region {region_with_highest_profit['Region']} has the highest profit with a total profit of {country_with_highest_profit['sum(Total Profit)']}")

Djibouti country, under region Sub-Saharan Africa has the highest profit with a total profit of 2425317.87

# Window functions

In [ ]:
from pyspark.sql.window import Window

In [ ]:
df.withColumn('sum of total profit', sum('Total profit').over(Window.orderBy('Region'))).show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|sum of total profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|    154.06|    90.93|     19103.44|  11275.32|     7828.12|         6113845.87|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|    109.28|    35.84|    902980.64| 296145.92|   606834.72|         6113845.87|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901|     81.73|    56.67|    400558.73| 277739.67|   122819.06|         6113845.87|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952|     437.2|   263.33|    3039414.4|1830670.16|  1208744.24|         6113845.87|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|    668.27|   502.54|    2559474.1| 1924728.2|    634745.9|         6113845.87|
|                Asia|             Myanmar|      Household|      Offline|             H| 1/16/2015|177713572|  3/1/2015|      8250|    668.27|   502.54|    5513227.5| 4145955.0|   1367272.5|         6113845.87|
|                Asia|              Brunei|Office Supplies|       Online|             L|  4/1/2012|320009267|  5/8/2012|      6708|    651.21|   524.96|   4368316.68|3521431.68|    846885.0|         6113845.87|
|                Asia|             Myanmar|        Clothes|       Online|             H|11/14/2015|223359620|11/18/2015|      5930|    109.28|    35.84|     648030.4|  212531.2|    435499.2|         6113845.87|
|                Asia|        Turkmenistan|Office Supplies|       Online|             M| 4/23/2013|462405812| 5/20/2013|      5010|    651.21|   524.96|    3262562.1| 2630049.6|    632512.5|         6113845.87|
|                Asia|                Laos|     Vegetables|      Offline|             C| 9/15/2011|789176547|10/23/2011|      3732|    154.06|    90.93|    574951.92| 339350.76|   235601.16|         6113845.87|
|                Asia|            Malaysia|         Fruits|      Offline|             L|11/11/2011|810711038|12/28/2011|      6267|      9.33|     6.92|     58471.11|  43367.64|    15103.47|         6113845.87|
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|       1.08360059E7|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|    255.28|   159.42|    759202.72| 474115.08|   285087.64|       1.08360059E7|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|    421.89|   364.69|   2492526.12|2154588.52|    337937.6|       1.08360059E7|
|Australia and Oce...|         New Zealand|         Fruits|       Online|             H|  9/8/2014|142278373| 10/4/2014|      2187|      9.33|     6.92|     20404.71|  15134.04|     5270.67|       1.08360059E7|
|Australia and Oce...|            Kiribati|         Fruits|       Online|             M|10/13/2014|347140347|11/10/2014|      5398|      9.33|     6.92|     50363.34|  37354.16|    13009.18|       1.08360059E7|
|Australia and Oce...|           Australia|Office Supplies|       Online|             C|10/27/2015|158535134|11/25/2015|      2924|    651.21|   524.96|   1904138.04|1534983.04|    369155.0|       1.08360059E7|
|Australia and Oce...|                Fiji|        Clothes|      Offline|             C| 6/30/2010|647876489|  8/1/2010|      9905|    109.28|    35.84|    1082418.4|  354995.2|    727423.2|       1.08360059E7|
|Australia and Oce...|           Australia|         Cereal|      Offline|             H|  6/9/2013|450563752|  7/2/2013|       682|     205.7|   117.11|     140287.4|  79869.02|    60418.38|       1.08360059E7|
|Australia and Oce...|Federated States ...|      Beverages|       Online|             C|10/28/2014|217221009|11/15/2014|      9379|     47.45|    31.79|    445033.55| 298158.41|   146875.14|       1.08360059E7|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
only showing top 20 rows

In [ ]:
total = df.withColumn('sum of total profit', sum('Total profit').over(Window.partitionBy('Region')))
total.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|sum of total profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|    154.06|    90.93|     19103.44|  11275.32|     7828.12|         6113845.87|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|    109.28|    35.84|    902980.64| 296145.92|   606834.72|         6113845.87|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901|     81.73|    56.67|    400558.73| 277739.67|   122819.06|         6113845.87|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952|     437.2|   263.33|    3039414.4|1830670.16|  1208744.24|         6113845.87|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|    668.27|   502.54|    2559474.1| 1924728.2|    634745.9|         6113845.87|
|                Asia|             Myanmar|      Household|      Offline|             H| 1/16/2015|177713572|  3/1/2015|      8250|    668.27|   502.54|    5513227.5| 4145955.0|   1367272.5|         6113845.87|
|                Asia|              Brunei|Office Supplies|       Online|             L|  4/1/2012|320009267|  5/8/2012|      6708|    651.21|   524.96|   4368316.68|3521431.68|    846885.0|         6113845.87|
|                Asia|             Myanmar|        Clothes|       Online|             H|11/14/2015|223359620|11/18/2015|      5930|    109.28|    35.84|     648030.4|  212531.2|    435499.2|         6113845.87|
|                Asia|        Turkmenistan|Office Supplies|       Online|             M| 4/23/2013|462405812| 5/20/2013|      5010|    651.21|   524.96|    3262562.1| 2630049.6|    632512.5|         6113845.87|
|                Asia|                Laos|     Vegetables|      Offline|             C| 9/15/2011|789176547|10/23/2011|      3732|    154.06|    90.93|    574951.92| 339350.76|   235601.16|         6113845.87|
|                Asia|            Malaysia|         Fruits|      Offline|             L|11/11/2011|810711038|12/28/2011|      6267|      9.33|     6.92|     58471.11|  43367.64|    15103.47|         6113845.87|
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|         4722160.03|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|    255.28|   159.42|    759202.72| 474115.08|   285087.64|         4722160.03|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|    421.89|   364.69|   2492526.12|2154588.52|    337937.6|         4722160.03|
|Australia and Oce...|         New Zealand|         Fruits|       Online|             H|  9/8/2014|142278373| 10/4/2014|      2187|      9.33|     6.92|     20404.71|  15134.04|     5270.67|         4722160.03|
|Australia and Oce...|            Kiribati|         Fruits|       Online|             M|10/13/2014|347140347|11/10/2014|      5398|      9.33|     6.92|     50363.34|  37354.16|    13009.18|         4722160.03|
|Australia and Oce...|           Australia|Office Supplies|       Online|             C|10/27/2015|158535134|11/25/2015|      2924|    651.21|   524.96|   1904138.04|1534983.04|    369155.0|         4722160.03|
|Australia and Oce...|                Fiji|        Clothes|      Offline|             C| 6/30/2010|647876489|  8/1/2010|      9905|    109.28|    35.84|    1082418.4|  354995.2|    727423.2|         4722160.03|
|Australia and Oce...|           Australia|         Cereal|      Offline|             H|  6/9/2013|450563752|  7/2/2013|       682|     205.7|   117.11|     140287.4|  79869.02|    60418.38|         4722160.03|
|Australia and Oce...|Federated States ...|      Beverages|       Online|             C|10/28/2014|217221009|11/15/2014|      9379|     47.45|    31.79|    445033.55| 298158.41|   146875.14|         4722160.03|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
only showing top 20 rows

In [ ]:
total.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|sum of total profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|    154.06|    90.93|     19103.44|  11275.32|     7828.12|         6113845.87|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|    109.28|    35.84|    902980.64| 296145.92|   606834.72|         6113845.87|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901|     81.73|    56.67|    400558.73| 277739.67|   122819.06|         6113845.87|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952|     437.2|   263.33|    3039414.4|1830670.16|  1208744.24|         6113845.87|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|    668.27|   502.54|    2559474.1| 1924728.2|    634745.9|         6113845.87|
|                Asia|             Myanmar|      Household|      Offline|             H| 1/16/2015|177713572|  3/1/2015|      8250|    668.27|   502.54|    5513227.5| 4145955.0|   1367272.5|         6113845.87|
|                Asia|              Brunei|Office Supplies|       Online|             L|  4/1/2012|320009267|  5/8/2012|      6708|    651.21|   524.96|   4368316.68|3521431.68|    846885.0|         6113845.87|
|                Asia|             Myanmar|        Clothes|       Online|             H|11/14/2015|223359620|11/18/2015|      5930|    109.28|    35.84|     648030.4|  212531.2|    435499.2|         6113845.87|
|                Asia|        Turkmenistan|Office Supplies|       Online|             M| 4/23/2013|462405812| 5/20/2013|      5010|    651.21|   524.96|    3262562.1| 2630049.6|    632512.5|         6113845.87|
|                Asia|                Laos|     Vegetables|      Offline|             C| 9/15/2011|789176547|10/23/2011|      3732|    154.06|    90.93|    574951.92| 339350.76|   235601.16|         6113845.87|
|                Asia|            Malaysia|         Fruits|      Offline|             L|11/11/2011|810711038|12/28/2011|      6267|      9.33|     6.92|     58471.11|  43367.64|    15103.47|         6113845.87|
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|         4722160.03|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|    255.28|   159.42|    759202.72| 474115.08|   285087.64|         4722160.03|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|    421.89|   364.69|   2492526.12|2154588.52|    337937.6|         4722160.03|
|Australia and Oce...|         New Zealand|         Fruits|       Online|             H|  9/8/2014|142278373| 10/4/2014|      2187|      9.33|     6.92|     20404.71|  15134.04|     5270.67|         4722160.03|
|Australia and Oce...|            Kiribati|         Fruits|       Online|             M|10/13/2014|347140347|11/10/2014|      5398|      9.33|     6.92|     50363.34|  37354.16|    13009.18|         4722160.03|
|Australia and Oce...|           Australia|Office Supplies|       Online|             C|10/27/2015|158535134|11/25/2015|      2924|    651.21|   524.96|   1904138.04|1534983.04|    369155.0|         4722160.03|
|Australia and Oce...|                Fiji|        Clothes|      Offline|             C| 6/30/2010|647876489|  8/1/2010|      9905|    109.28|    35.84|    1082418.4|  354995.2|    727423.2|         4722160.03|
|Australia and Oce...|           Australia|         Cereal|      Offline|             H|  6/9/2013|450563752|  7/2/2013|       682|     205.7|   117.11|     140287.4|  79869.02|    60418.38|         4722160.03|
|Australia and Oce...|Federated States ...|      Beverages|       Online|             C|10/28/2014|217221009|11/15/2014|      9379|     47.45|    31.79|    445033.55| 298158.41|   146875.14|         4722160.03|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-------------------+
only showing top 20 rows

In [ ]:
df.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|
|Central America a...|             Grenada|         Cereal|       Online|             C| 8/22/2012|963881480| 9/15/2012|      2804|     205.7|   117.11|     576782.8| 328376.44|   248406.36|
|              Europe|              Russia|Office Supplies|      Offline|             L|  5/2/2014|341417157|  5/8/2014|      1779|    651.21|   524.96|   1158502.59| 933903.84|   224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|       Online|             C| 6/20/2014|514321792|  7/5/2014|      8102|      9.33|     6.92|     75591.66|  56065.84|    19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|      Offline|             L|  2/1/2013|115456712|  2/6/2013|      5062|    651.21|   524.96|   3296425.02|2657347.52|    639077.5|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|    255.28|   159.42|    759202.72| 474115.08|   285087.64|
|  Sub-Saharan Africa|              Angola|      Household|      Offline|             M| 4/23/2011|135425221| 4/27/2011|      4187|    668.27|   502.54|   2798046.49|2104134.98|   693911.51|
|  Sub-Saharan Africa|        Burkina Faso|     Vegetables|       Online|             H| 7/17/2012|871543967| 7/27/2012|      8082|    154.06|    90.93|   1245112.92| 734896.26|   510216.66|
|  Sub-Saharan Africa|Republic of the C...|  Personal Care|      Offline|             M| 7/14/2015|770463311| 8/25/2015|      6070|     81.73|    56.67|     496101.1|  343986.9|    152114.2|
|  Sub-Saharan Africa|             Senegal|         Cereal|       Online|             H| 4/18/2014|616607081| 5/30/2014|      6593|     205.7|   117.11|    1356180.1| 772106.23|   584073.87|
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|    154.06|    90.93|     19103.44|  11275.32|     7828.12|
|  Sub-Saharan Africa|          Cape Verde|        Clothes|      Offline|             H|  8/2/2014|939825713| 8/19/2014|      4168|    109.28|    35.84|    455479.04| 149381.12|   306097.92|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|    109.28|    35.84|    902980.64| 296145.92|   606834.72|
|Central America a...|            Honduras|      Household|      Offline|             H|  2/8/2017|522840487| 2/13/2017|      8974|    668.27|   502.54|   5997054.98|4509793.96|  1487261.02|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901|     81.73|    56.67|    400558.73| 277739.67|   122819.06|
|              Europe|            Bulgaria|        Clothes|       Online|             M| 4/23/2012|972292029|  6/3/2012|      1673|    109.28|    35.84|    182825.44|  59960.32|   122865.12|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952|     437.2|   263.33|    3039414.4|1830670.16|  1208744.24|
|  Sub-Saharan Africa|            Cameroon|      Beverages|      Offline|             C|  4/1/2015|519820964| 4/18/2015|      5430|     47.45|    31.79|     257653.5|  172619.7|     85033.8|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|    668.27|   502.54|    2559474.1| 1924728.2|    634745.9|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|    421.89|   364.69|   2492526.12|2154588.52|    337937.6|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

## The highest number of orders placed within a 72-hour period

In [ ]:
orders = df.groupBy(window(col('Order Date'), '72 hours'))\
         .agg(count('Order ID').alias('count_order_id'))\
         .orderBy('count_order_id', ascending=False)


print(f"Highest number of orders ordered under a 72 hr period is {orders.first()}")

Highest number of orders ordered under a 72 hr period is None

## Average number of units sold in a month

In [ ]:
df.groupBy(month('Order Date').alias('month')) \
                   .agg(avg(col('Units Sold')).alias('avg_units_sold')) \
                   .orderBy('avg_units_sold', ascending=False).first()

Row(month=None, avg_units_sold=5128.71)

## Margin

In [ ]:
margin = df.withColumnsRenamed({'Unit Price':'SP','Unit Cost':'CP'})
margin.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|    SP|    CP|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|255.28|159.42|    2533654.0| 1582243.5|    951410.5|
|Central America a...|             Grenada|         Cereal|       Online|             C| 8/22/2012|963881480| 9/15/2012|      2804| 205.7|117.11|     576782.8| 328376.44|   248406.36|
|              Europe|              Russia|Office Supplies|      Offline|             L|  5/2/2014|341417157|  5/8/2014|      1779|651.21|524.96|   1158502.59| 933903.84|   224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|       Online|             C| 6/20/2014|514321792|  7/5/2014|      8102|  9.33|  6.92|     75591.66|  56065.84|    19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|      Offline|             L|  2/1/2013|115456712|  2/6/2013|      5062|651.21|524.96|   3296425.02|2657347.52|    639077.5|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|255.28|159.42|    759202.72| 474115.08|   285087.64|
|  Sub-Saharan Africa|              Angola|      Household|      Offline|             M| 4/23/2011|135425221| 4/27/2011|      4187|668.27|502.54|   2798046.49|2104134.98|   693911.51|
|  Sub-Saharan Africa|        Burkina Faso|     Vegetables|       Online|             H| 7/17/2012|871543967| 7/27/2012|      8082|154.06| 90.93|   1245112.92| 734896.26|   510216.66|
|  Sub-Saharan Africa|Republic of the C...|  Personal Care|      Offline|             M| 7/14/2015|770463311| 8/25/2015|      6070| 81.73| 56.67|     496101.1|  343986.9|    152114.2|
|  Sub-Saharan Africa|             Senegal|         Cereal|       Online|             H| 4/18/2014|616607081| 5/30/2014|      6593| 205.7|117.11|    1356180.1| 772106.23|   584073.87|
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|154.06| 90.93|     19103.44|  11275.32|     7828.12|
|  Sub-Saharan Africa|          Cape Verde|        Clothes|      Offline|             H|  8/2/2014|939825713| 8/19/2014|      4168|109.28| 35.84|    455479.04| 149381.12|   306097.92|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|109.28| 35.84|    902980.64| 296145.92|   606834.72|
|Central America a...|            Honduras|      Household|      Offline|             H|  2/8/2017|522840487| 2/13/2017|      8974|668.27|502.54|   5997054.98|4509793.96|  1487261.02|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901| 81.73| 56.67|    400558.73| 277739.67|   122819.06|
|              Europe|            Bulgaria|        Clothes|       Online|             M| 4/23/2012|972292029|  6/3/2012|      1673|109.28| 35.84|    182825.44|  59960.32|   122865.12|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952| 437.2|263.33|    3039414.4|1830670.16|  1208744.24|
|  Sub-Saharan Africa|            Cameroon|      Beverages|      Offline|             C|  4/1/2015|519820964| 4/18/2015|      5430| 47.45| 31.79|     257653.5|  172619.7|     85033.8|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|668.27|502.54|    2559474.1| 1924728.2|    634745.9|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|421.89|364.69|   2492526.12|2154588.52|    337937.6|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+
only showing top 20 rows

## Selection of col with margin Df

In [ ]:
margin.select('order id','SP','CP').show()

+---------+------+------+
| order id|    SP|    CP|
+---------+------+------+
|669165933|255.28|159.42|
|963881480| 205.7|117.11|
|341417157|651.21|524.96|
|514321792|  9.33|  6.92|
|115456712|651.21|524.96|
|547995746|255.28|159.42|
|135425221|668.27|502.54|
|871543967|154.06| 90.93|
|770463311| 81.73| 56.67|
|616607081| 205.7|117.11|
|814711606|154.06| 90.93|
|939825713|109.28| 35.84|
|187310731|109.28| 35.84|
|522840487|668.27|502.54|
|832401311| 81.73| 56.67|
|972292029|109.28| 35.84|
|419123971| 437.2|263.33|
|519820964| 47.45| 31.79|
|441619336|668.27|502.54|
|322067916|421.89|364.69|
+---------+------+------+
only showing top 20 rows

## Margin Percentage

In [ ]:
margin_percentage = margin.withColumn("Percentage", round(((col('SP') - col('CP')) / col('SP')) * 100))
margin_percentage.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+----------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|    SP|    CP|Total Revenue|Total Cost|Total Profit|Percentage|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+----------+
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|255.28|159.42|    2533654.0| 1582243.5|    951410.5|      38.0|
|Central America a...|             Grenada|         Cereal|       Online|             C| 8/22/2012|963881480| 9/15/2012|      2804| 205.7|117.11|     576782.8| 328376.44|   248406.36|      43.0|
|              Europe|              Russia|Office Supplies|      Offline|             L|  5/2/2014|341417157|  5/8/2014|      1779|651.21|524.96|   1158502.59| 933903.84|   224598.75|      19.0|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|       Online|             C| 6/20/2014|514321792|  7/5/2014|      8102|  9.33|  6.92|     75591.66|  56065.84|    19525.82|      26.0|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|      Offline|             L|  2/1/2013|115456712|  2/6/2013|      5062|651.21|524.96|   3296425.02|2657347.52|    639077.5|      19.0|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|255.28|159.42|    759202.72| 474115.08|   285087.64|      38.0|
|  Sub-Saharan Africa|              Angola|      Household|      Offline|             M| 4/23/2011|135425221| 4/27/2011|      4187|668.27|502.54|   2798046.49|2104134.98|   693911.51|      25.0|
|  Sub-Saharan Africa|        Burkina Faso|     Vegetables|       Online|             H| 7/17/2012|871543967| 7/27/2012|      8082|154.06| 90.93|   1245112.92| 734896.26|   510216.66|      41.0|
|  Sub-Saharan Africa|Republic of the C...|  Personal Care|      Offline|             M| 7/14/2015|770463311| 8/25/2015|      6070| 81.73| 56.67|     496101.1|  343986.9|    152114.2|      31.0|
|  Sub-Saharan Africa|             Senegal|         Cereal|       Online|             H| 4/18/2014|616607081| 5/30/2014|      6593| 205.7|117.11|    1356180.1| 772106.23|   584073.87|      43.0|
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|154.06| 90.93|     19103.44|  11275.32|     7828.12|      41.0|
|  Sub-Saharan Africa|          Cape Verde|        Clothes|      Offline|             H|  8/2/2014|939825713| 8/19/2014|      4168|109.28| 35.84|    455479.04| 149381.12|   306097.92|      67.0|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|109.28| 35.84|    902980.64| 296145.92|   606834.72|      67.0|
|Central America a...|            Honduras|      Household|      Offline|             H|  2/8/2017|522840487| 2/13/2017|      8974|668.27|502.54|   5997054.98|4509793.96|  1487261.02|      25.0|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901| 81.73| 56.67|    400558.73| 277739.67|   122819.06|      31.0|
|              Europe|            Bulgaria|        Clothes|       Online|             M| 4/23/2012|972292029|  6/3/2012|      1673|109.28| 35.84|    182825.44|  59960.32|   122865.12|      67.0|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952| 437.2|263.33|    3039414.4|1830670.16|  1208744.24|      40.0|
|  Sub-Saharan Africa|            Cameroon|      Beverages|      Offline|             C|  4/1/2015|519820964| 4/18/2015|      5430| 47.45| 31.79|     257653.5|  172619.7|     85033.8|      33.0|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|668.27|502.54|    2559474.1| 1924728.2|    634745.9|      25.0|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|421.89|364.69|   2492526.12|2154588.52|    337937.6|      14.0|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+----------+
only showing top 20 rows

## Lowest and Highest of margin percentage

In [ ]:
lowest_margin_percentage = margin_percentage.orderBy('Percentage', ascending=True)
highest_margin_percentage = margin_percentage.orderBy('Percentage', ascending=False)
lowest_margin_percentage.show(10)
highest_margin_percentage.show(10)

+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+----------+
|              Region|     Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|    SP|    CP|Total Revenue|Total Cost|Total Profit|Percentage|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+----------+
|Australia and Oce...|  East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|421.89|364.69|   2492526.12|2154588.52|    337937.6|      14.0|
|  Sub-Saharan Africa|  The Gambia|           Meat|       Online|             M| 1/14/2017|825304400| 1/23/2017|      4767|421.89|364.69|   2011149.63|1738477.23|    272672.4|      14.0|
|              Europe|      Russia|Office Supplies|      Offline|             L|  5/2/2014|341417157|  5/8/2014|      1779|651.21|524.96|   1158502.59| 933903.84|   224598.75|      19.0|
|  Sub-Saharan Africa|      Rwanda|Office Supplies|      Offline|             L|  2/1/2013|115456712|  2/6/2013|      5062|651.21|524.96|   3296425.02|2657347.52|    639077.5|      19.0|
|  Sub-Saharan Africa|  Mauritania|Office Supplies|      Offline|             C| 1/11/2012|837559306| 1/13/2012|      1266|651.21|524.96|    824431.86| 664599.36|    159832.5|      19.0|
|Australia and Oce...|   Australia|Office Supplies|       Online|             C|10/27/2015|158535134|11/25/2015|      2924|651.21|524.96|   1904138.04|1534983.04|    369155.0|      19.0|
|                Asia|      Brunei|Office Supplies|       Online|             L|  4/1/2012|320009267|  5/8/2012|      6708|651.21|524.96|   4368316.68|3521431.68|    846885.0|      19.0|
|              Europe|    Bulgaria|Office Supplies|       Online|             M| 2/16/2012|189965903| 2/28/2012|      3987|651.21|524.96|   2596374.27|2093015.52|   503358.75|      19.0|
|  Sub-Saharan Africa|Sierra Leone|Office Supplies|      Offline|             M|11/26/2011|441888415|  1/7/2012|      3457|651.21|524.96|   2251232.97|1814786.72|   436446.25|      19.0|
|  Sub-Saharan Africa|    Cameroon|Office Supplies|       Online|             M| 11/7/2011|177636754|11/15/2011|      5518|651.21|524.96|   3593376.78|2896729.28|    696647.5|      19.0|
+--------------------+------------+---------------+-------------+--------------+----------+---------+----------+----------+------+------+-------------+----------+------------+----------+
only showing top 10 rows

+--------------------+-------------+---------+-------------+--------------+----------+---------+----------+----------+------+-----+-------------+----------+------------+----------+
|              Region|      Country|Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|    SP|   CP|Total Revenue|Total Cost|Total Profit|Percentage|
+--------------------+-------------+---------+-------------+--------------+----------+---------+----------+----------+------+-----+-------------+----------+------------+----------+
|  Sub-Saharan Africa|   Cape Verde|  Clothes|      Offline|             H|  8/2/2014|939825713| 8/19/2014|      4168|109.28|35.84|    455479.04| 149381.12|   306097.92|      67.0|
|                Asia|   Bangladesh|  Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|109.28|35.84|    902980.64| 296145.92|   606834.72|      67.0|
|              Europe|     Bulgaria|  Clothes|       Online|             M| 4/23/2012|972292029|  6/3/2012|      1673|109.28|35.84|    182825.44|  59960.32|   122865.12|      67.0|
|              Europe|      Albania|  Clothes|       Online|             C|  2/2/2010|385383069| 3/18/2010|      2269|109.28|35.84|    247956.32|  81320.96|   166635.36|      67.0|
|                Asia|      Myanmar|  Clothes|       Online|             H|11/14/2015|223359620|11/18/2015|      5930|109.28|35.84|     648030.4|  212531.2|    435499.2|      67.0|
|              Europe|    Macedonia|  Clothes|      Offline|             C|10/14/2014|787399423|11/14/2014|      7842|109.28|35.84|    856973.76| 281057.28|   575916.48|      67.0|
|  Sub-Saharan Africa|Cote d'Ivoire|  Clothes|       Online|             C|  6/8/2012|114606559| 6/27/2012|      3482|109.28|35.84|    380512.96| 124794.88|   255718.08|      67.0|
|Australia and Oce...|         Fiji|  Clothes|      Offline|             C| 6/30/2010|647876489|  8/1/2010|      9905|109.28|35.84|    1082418.4|  354995.2|    727423.2|      67.0|
|Middle East and N...|        Libya|  Clothes|      Offline|             H|10/30/2010|705784308|11/17/2010|      6116|109.28|35.84|    668356.48| 219197.44|   449159.04|      67.0|
|Central America a...|       Belize|  Clothes|      Offline|             M| 7/25/2016|807025039|  9/7/2016|      5498|109.28|35.84|    600821.44| 197048.32|   403773.12|      67.0|
+--------------------+-------------+---------+-------------+--------------+----------+---------+----------+----------+------+-----+-------------+----------+------------+----------+
only showing top 10 rows

In [ ]:
df.show()

+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|              Region|             Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|Australia and Oce...|              Tuvalu|      Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|
|Central America a...|             Grenada|         Cereal|       Online|             C| 8/22/2012|963881480| 9/15/2012|      2804|     205.7|   117.11|     576782.8| 328376.44|   248406.36|
|              Europe|              Russia|Office Supplies|      Offline|             L|  5/2/2014|341417157|  5/8/2014|      1779|    651.21|   524.96|   1158502.59| 933903.84|   224598.75|
|  Sub-Saharan Africa|Sao Tome and Prin...|         Fruits|       Online|             C| 6/20/2014|514321792|  7/5/2014|      8102|      9.33|     6.92|     75591.66|  56065.84|    19525.82|
|  Sub-Saharan Africa|              Rwanda|Office Supplies|      Offline|             L|  2/1/2013|115456712|  2/6/2013|      5062|    651.21|   524.96|   3296425.02|2657347.52|    639077.5|
|Australia and Oce...|     Solomon Islands|      Baby Food|       Online|             C|  2/4/2015|547995746| 2/21/2015|      2974|    255.28|   159.42|    759202.72| 474115.08|   285087.64|
|  Sub-Saharan Africa|              Angola|      Household|      Offline|             M| 4/23/2011|135425221| 4/27/2011|      4187|    668.27|   502.54|   2798046.49|2104134.98|   693911.51|
|  Sub-Saharan Africa|        Burkina Faso|     Vegetables|       Online|             H| 7/17/2012|871543967| 7/27/2012|      8082|    154.06|    90.93|   1245112.92| 734896.26|   510216.66|
|  Sub-Saharan Africa|Republic of the C...|  Personal Care|      Offline|             M| 7/14/2015|770463311| 8/25/2015|      6070|     81.73|    56.67|     496101.1|  343986.9|    152114.2|
|  Sub-Saharan Africa|             Senegal|         Cereal|       Online|             H| 4/18/2014|616607081| 5/30/2014|      6593|     205.7|   117.11|    1356180.1| 772106.23|   584073.87|
|                Asia|          Kyrgyzstan|     Vegetables|       Online|             H| 6/24/2011|814711606| 7/12/2011|       124|    154.06|    90.93|     19103.44|  11275.32|     7828.12|
|  Sub-Saharan Africa|          Cape Verde|        Clothes|      Offline|             H|  8/2/2014|939825713| 8/19/2014|      4168|    109.28|    35.84|    455479.04| 149381.12|   306097.92|
|                Asia|          Bangladesh|        Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|    109.28|    35.84|    902980.64| 296145.92|   606834.72|
|Central America a...|            Honduras|      Household|      Offline|             H|  2/8/2017|522840487| 2/13/2017|      8974|    668.27|   502.54|   5997054.98|4509793.96|  1487261.02|
|                Asia|            Mongolia|  Personal Care|      Offline|             C| 2/19/2014|832401311| 2/23/2014|      4901|     81.73|    56.67|    400558.73| 277739.67|   122819.06|
|              Europe|            Bulgaria|        Clothes|       Online|             M| 4/23/2012|972292029|  6/3/2012|      1673|    109.28|    35.84|    182825.44|  59960.32|   122865.12|
|                Asia|           Sri Lanka|      Cosmetics|      Offline|             M|11/19/2016|419123971|12/18/2016|      6952|     437.2|   263.33|    3039414.4|1830670.16|  1208744.24|
|  Sub-Saharan Africa|            Cameroon|      Beverages|      Offline|             C|  4/1/2015|519820964| 4/18/2015|      5430|     47.45|    31.79|     257653.5|  172619.7|     85033.8|
|                Asia|        Turkmenistan|      Household|      Offline|             L|12/30/2010|441619336| 1/20/2011|      3830|    668.27|   502.54|    2559474.1| 1924728.2|    634745.9|
|Australia and Oce...|          East Timor|           Meat|       Online|             L| 7/31/2012|322067916| 9/11/2012|      5908|    421.89|   364.69|   2492526.12|2154588.52|    337937.6|
+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

## Top 3 highest-value order for a specific Item type

In [ ]:
window_spec = Window.partitionBy(col('Item Type')).orderBy(col('Total Profit').desc())
highest_valuable_orders = df.withColumn("row_id", row_number().over(window_spec)) \
                            .filter(col('row_id').isin(1, 2, 3))

highest_valuable_orders.show(15)

+--------------------+--------------------+---------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+------+
|              Region|             Country|Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Total Revenue|Total Cost|Total Profit|row_id|
+--------------------+--------------------+---------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+------+
|Australia and Oce...|              Tuvalu|Baby Food|      Offline|             H| 5/28/2010|669165933| 6/27/2010|      9925|    255.28|   159.42|    2533654.0| 1582243.5|    951410.5|     1|
|              Europe|              Monaco|Baby Food|      Offline|             H| 5/29/2012|688288152|  6/2/2012|      8614|    255.28|   159.42|   2198981.92|1373243.88|   825738.04|     2|
|              Europe|              Norway|Baby Food|       Online|             L| 5/14/2014|819028031| 6/28/2014|      7450|    255.28|   159.42|    1901836.0| 1187679.0|    714157.0|     3|
|Australia and Oce...|           Australia|Beverages|      Offline|             H|  7/7/2014|240470397| 7/11/2014|      9389|     47.45|    31.79|    445508.05| 298476.31|   147031.74|     1|
|Australia and Oce...|Federated States ...|Beverages|       Online|             C|10/28/2014|217221009|11/15/2014|      9379|     47.45|    31.79|    445033.55| 298158.41|   146875.14|     2|
|  Sub-Saharan Africa|Sao Tome and Prin...|Beverages|      Offline|             C| 1/16/2011|180283772| 1/21/2011|      8829|     47.45|    31.79|    418936.05| 280673.91|   138262.14|     3|
|  Sub-Saharan Africa|            Djibouti|   Cereal|       Online|             H| 5/20/2017|555990016| 6/17/2017|      8656|     205.7|   117.11|    1780539.2|1013704.16|   766835.04|     1|
|  Sub-Saharan Africa|             Senegal|   Cereal|       Online|             H| 4/18/2014|616607081| 5/30/2014|      6593|     205.7|   117.11|    1356180.1| 772106.23|   584073.87|     2|
|Middle East and N...|        Saudi Arabia|   Cereal|       Online|             M| 3/25/2013|844530045| 3/28/2013|      4063|     205.7|   117.11|     835759.1| 475817.93|   359941.17|     3|
|Australia and Oce...|                Fiji|  Clothes|      Offline|             C| 6/30/2010|647876489|  8/1/2010|      9905|    109.28|    35.84|    1082418.4|  354995.2|    727423.2|     1|
|                Asia|          Bangladesh|  Clothes|       Online|             L| 1/13/2017|187310731|  3/1/2017|      8263|    109.28|    35.84|    902980.64| 296145.92|   606834.72|     2|
|Middle East and N...|             Lebanon|  Clothes|       Online|             L| 9/18/2012|663110148| 10/8/2012|      7884|    109.28|    35.84|    861563.52| 282562.56|   579000.96|     3|
|Middle East and N...|            Pakistan|Cosmetics|      Offline|             L|  7/5/2013|231145322| 8/16/2013|      9892|     437.2|   263.33|    4324782.4|2604860.36|  1719922.04|     1|
|Australia and Oce...|              Samoa |Cosmetics|       Online|             H| 7/20/2013|670854651|  8/7/2013|      9654|     437.2|   263.33|    4220728.8|2542187.82|  1678540.98|     2|
|              Europe|             Iceland|Cosmetics|       Online|             C|12/31/2016|331438481|12/31/2016|      8867|     437.2|   263.33|    3876652.4|2334947.11|  1541705.29|     3|
+--------------------+--------------------+---------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+------+
only showing top 15 rows

## Item mostly frequently sold on weekends

In [ ]:
Item_most_frequently_sold = df.filter((col("Region")=="Sub-Saharan Africa") & (weekday(col("Ship Date"))).isin([5,6]))\
                            .groupBy(col("Item Type")).agg(sum('units sold').alias("sum_units_sold"))\
                            .orderBy("sum_units_sold",ascending=False).first()

## Revenue by year

In [ ]:
revenue_by_year = df.groupBy(year(col("Order Date")).alias("Year")) \
                     .agg(sum("Total Revenue").alias("Yearly Revenue"))

revenue_by_year.show()

+----+--------------------+
|Year|      Yearly Revenue|
+----+--------------------+
|NULL|1.3734876830999997E8|
+----+--------------------+

In [ ]:
windowSpec = Window.orderBy("Year")
revenue_with_growth = revenue_by_year.withColumn("YoY Growth %",concat(round(((col("Yearly Revenue") - lag("Yearly Revenue", 1).over(windowSpec)) /
                                                                              lag("Yearly Revenue", 1).over(windowSpec))*100).cast("int").cast("string"),lit(" %")))
revenue_with_growth.show()

+----+--------------------+------------+
|Year|      Yearly Revenue|YoY Growth %|
+----+--------------------+------------+
|NULL|1.3734876830999997E8|        NULL|
+----+--------------------+------------+

In [ ]:
df.write.format('parquet').mode('append').save("/content/AmazonSalesDataNotebook.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')